<?php

namespace webhook\jobs;

use \webhook\jobs\JobBase;
use \webhook\jobs\exception\JobException;

class DemoMaster extends JobBase
{

    /**
     * pull完的回调
     * */

    protected function execCallback()
    {
        
    }

}
